:root {
    --header-background-color: #ededed;
    --border-color: #d8d8d8;
    --text-color: #505050; /* Text-color */
    --heading-color: #568301; /* Heading-color */
    --link-color: var(--color-blue-50);
    --button-background-color-primary-hover: var(--color-blue-60); /* darken(var(--link-color), 10%) */

    --color-blue-50: #277DB0;
    --color-blue-60: #1E5F86;
    --color-blue-70: #103348;
}
